<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <% if @standup.present? && @standup.persisted? %>
      <%= link_to "#{@standup.title} Whiteboard", standup_items_path(@standup), :class => 'navbar-brand' %>
      <% else %>
        <%= link_to "Whiteboard", standups_path, :class => 'navbar-brand' %>
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
    <% if @standup.present? && @standup.persisted? %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle posts" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Current Post", standup_path(@standup) %></li>
            <li><%= link_to "Pending Posts (#{pending_post_count(@standup)})", standup_posts_path(@standup) %></li>
            <li><%= link_to "Archived Posts", archived_standup_posts_path(@standup) %></li>
          </ul>
        </li>
        <li><%= link_to "Preferences", edit_standup_path(@standup) %></li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "All Standups", standups_path %>
        </li>
        <% if session['logged_in'] %>
          <li>
            <%= link_to 'Log Out', '/logout' %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
