<div class="container">
  <%= form_for(@item, html: {class: 'form-horizontal new-face-form'}) do |f| %>
    <%= render partial: 'shared/errors', locals: {model: @item} %>

    <div class="bg-light pvxl phm">
      <div class="container-form">
        <h2 class="mbl">New Face</h2>
        <%= f.collection_select(:standup_id,
          Standup.all,
          :id,
          :title,
          {},
          {:class => "wide",
            "aria-label" => "Standup"}) %>
        <div class="subtitle">
          Including why they are in the office makes for a much friendly welcome, e.g. Interviewing, New Pivot or Client
          Developer.
        </div>
        <%= f.text_field :title, placeholder: 'John Smith - Interviewing with Rob', class: "wide" %>

      <%= render partial: 'date_picker', locals: {f: f, item: @item} %>

      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :public, value: false %>
      <%= f.hidden_field :kind, value: 'New face' %>

        <%= f.submit "#{@item.persisted? ? "Update" : "Create"} New Face", class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>
