<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path 'whiteboard-icon.png' %>">
</head>
<body>

<%= render partial: '/partials/nav' %>
<% if flash %>
  <%= render partial: '/partials/flash' %>
<% end %>

<% if @boxed %>
  <div class="outer">
<% end %>
<%= yield %>
<% if @boxed %></div>
<% end %>

</body>
</html>
